<% if model.errors.any? %>

  <div class="alert alert-warning">
    <ul>
      
<% model.errors.full_messages.each do |message| %>

        <li>
<%= message %>
<%= form_for(@user) do |f| %>

      
<%= render 'layouts/error_messages', model: f.object %>
</li>
      
<% end %>

    </ul>
  </div>
<% end %>